<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
  <body>
    <%- include('../partials/navbar') %> 
    
    <!-- Main -->
    <main id="main">

      <div class="container">
        
            <!-- <form action="/login" method="POST" class="login-form">

                <div class="logo-profile">
                    <i class="fas fa-user"></i>
                </div>

                <div class="inputs-form">
                    <input type="text" placeholder="Username / Email">
                    <input type="text" placeholder="Password">
                </div>
                
                <div>
                  <button type="submit">Log In</button>
                  <a href="#"><p>Forgot your password?</p></a>
                </div>
                
            </form> -->
            
            <div id="login-box">

              <div class="left">
                <h1>Sign In</h1>
                
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" name="signup_submit" value="Sign In" />
                
                <a href="#"><p>Forgot your password?</p></a>
              </div>
              
              <div class="right">
                <span class="loginwith">Don't have account?</span>
                <input type="submit" name="signup_submit" value="Register now" />

                <span class="loginwith">Sign in with<br />social network</span>
                
                <button class="social-signin facebook">Log in with facebook</button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <button class="social-signin google">Log in with Google+</button>
              </div>

              <div class="or">OR</div>
            </div>
      </div>
      
      <%- include('../partials/sections/facility_section') %>  
     
    </main>
    <!-- End Main -->

    <%- include('../partials/sections/newsletter_section') %> 
    <%- include('../partials/footer') %>

    <!-- Go To -->
    <a href="#header" class="goto-top scroll-link">
      <svg>
        <use xlink:href="./images/sprite.svg#icon-arrow-up"></use>
      </svg>
    </a>
    <!-- End Go To -->

    <!-- Glide Carousel Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    <!-- Animate On Scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Custom JavaScript -->
    <script src="/javascripts/products.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/slider.js"></script>
  </body>
</html>